/* 头部修改 */
#banner {
  height: 410px;
}
#banner #focus-banner {
  height: 410px;
}
#banner #focus-banner ul li a {
  height: 410px;
}
#banner #focus-banner #focus-bubble {
  bottom: 3px;
}
#ncontent {
  margin-top: 0;
}
/* 头部修改end */
/* 搜索栏目 */
#new_top .wtop {
  background: #fff;
}
#new_top .wtop .center {
  width: 990px;
  margin: 0 auto;
}
#new_top .wtop .center .nlogo {
  margin: 40px 0;
  width: 87px;
  height: 52px;
}
#new_top .wtop .center .nlogo a {
  display: block;
  width: 100%;
  height: 52px;
}
#new_top .wtop .center .np_1 {
  width: 206px;
  height: 43px;
  margin-left: 166px;
  margin-top: 40px;
}
#new_top .wtop .center .np_1 a {
  display: block;
  width: 100%;
  height: 43px;
}
#new_top .wtop .center .np_1 img {
  width: 206px;
  height: 43px;
}
#new_top .wtop .center .ssc {
  width: 361px;
  height: 55px;
  border: 0;
  border: none;
  margin-top: 40px;
}
#new_top .wtop .center .ssc .tests {
  padding-left: 20px;
  width: 270px;
  height: 55px;
  line-height: 55px;
  background: url("../images/quwan-top-search-input.png") no-repeat;
  border: 0;
  border: none;
  outline: none;
  font-size: 18px;
}
#new_top .wtop .center .ssc .btns {
  width: 71px;
  height: 55px;
  line-height: 55px;
  background: url("../images/quwan-top-search-btn.png") no-repeat;
  border: 0;
  border: none;
  outline: none;
  cursor: pointer;
}
#new_top .wtop .center #nav {
  width: 100%;
  line-height: 40px;
  height: 44px;
  background: #fff;
  padding-bottom: 5px;
  z-index: 1000;
}
#new_top .wtop .center #nav .nav-ul {
  width: 990px;
  height: 44px;
  margin: 0 auto;
}
#new_top .wtop .center #nav .nav-ul li {
  float: left;
  color: #000000;
  font-size: 26px;
  margin-left: 0;
  position: relative;
}
#new_top .wtop .center #nav .nav-ul li a {
  display: block;
  border: 2px solid #fff;
  height: 40px;
  padding: 0 22px;
  font-size: 20px;
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -o-border-radius: 22px;
}
#new_top .wtop .center #nav .nav-ul li a.current {
  color: #ff9600;
  border: 2px solid #ff9600;
}
#new_top .wtop .center #nav .nav-ul li a:hover {
  text-decoration: none;
  color: #ff9600;
  border: 2px solid #ff9600;
}
#new_top .wtop .center #nav .nav-ul li ul {
  width: 100%;
  top: 44px;
  max-height: 176px;
  overflow-y: auto;
}
#new_top .wtop .center #nav .nav-ul li ul li {
  float: none;
  color: #000000;
  font-size: 14px;
  margin-left: 0;
  position: relative;
  padding-left: 0;
}
#new_top .wtop .center #nav .nav-ul li ul li a {
  display: block;
  height: 44px;
  width: 100%;
  border: 0;
  border: none;
  text-align: center;
  padding: 0;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
}
#new_top .wtop .center #nav .nav-ul li ul li a:hover {
  border: 0;
  border: none;
}
#new_top .wtop .center #nav .nav-ul li:hover a {
  text-decoration: none;
  background: #fff;
}
/* 搜索栏目end */
/* 特色服务 */
.ncon_box5 {
  padding-top: 87px;
  padding-bottom: 106px;
  background: #fff;
}
.ncon_box5 .center {
  width: 990px;
  margin: 0 auto;
}
.ncon_box5 .center .quwan-special-title {
  width: 100%;
}
.ncon_box5 .center .quwan-special-title span {
  display: block;
  width: 100%;
  height: 68px;
  line-height: 68px;
  font-size: 38px;
  color: #ffb200;
  font-weight: bold;
  text-align: center;
}
.ncon_box5 .center .quwan-special-title i {
  display: block;
  width: 166px;
  height: 16px;
  line-height: 23px;
  margin-left: 412px;
  background: url("../images/quwan-special-text.png") no-repeat;
}
.ncon_box5 .center .quwan-special-part1 {
  margin: 120px 0 0 77px;
  width: 710px;
  height: 384px;
  background: #ff9600;
  position: relative;
  padding-left: 23px;
}
.ncon_box5 .center .quwan-special-part1 .quwan-special-part1-right {
  position: absolute;
  top: -60px;
  right: -156px;
  width: 536px;
  height: 329px;
}
.ncon_box5 .center .quwan-special-part1 .quwan-special-part1-right img {
  width: 536px;
  height: 329px;
}
.ncon_box5 .center .quwan-special-part2 {
  width: 100%;
  height: 534px;
  position: relative;
}
.ncon_box5 .center .quwan-special-part2 .quwan-special-part2-left {
  position: absolute;
  width: 299px;
  height: 432px;
  top: -74px;
  left: 156px;
  z-index: 5;
}
.ncon_box5 .center .quwan-special-part2 .quwan-special-part2-left img {
  width: 299px;
  height: 432px;
}
.ncon_box5 .center .quwan-special-part2 .quwan-special-part2-right {
  position: absolute;
  top: -74px;
  left: 452px;
  padding: 15px 0 0 17px;
  width: 350px;
  float: left;
}
.ncon_box5 .center .quwan-special-part2 .quwan-special-part2-right .quwan-special-all-left .quwan-special-all-lline {
  background: #ffb200;
}
.ncon_box5 .center .quwan-special-part2 .quwan-special-part2-right .quwan-special-all-left .quwan-special-all-lamount {
  color: #ffb200;
}
.ncon_box5 .center .quwan-special-part2 .quwan-special-part2-right .quwan-special-all-left .quwan-special-all-lprice {
  color: #ffb200;
}
.ncon_box5 .center .quwan-special-part2 .quwan-special-part2-right .quwan-special-all-left .quwan-special-all-lprice .quwan-special-all-lpleft {
  color: #ffb200;
}
.ncon_box5 .center .quwan-special-part2 .quwan-special-part2-right .quwan-special-all-left .quwan-special-all-lprice .quwan-special-all-lpright {
  color: #fff;
}
.ncon_box5 .center .quwan-special-part2 .quwan-special-part2-right .quwan-special-all-left .quwan-special-all-lprice .quwan-special-all-lpright:hover {
  background: #fe7300;
}
.ncon_box5 .center .quwan-special-part2 .quwan-special-part2-right .quwan-special-part2-rbottom {
  margin-top: 106px;
}
.ncon_box5 .center .quwan-special-part2 .quwan-special-part2-right .quwan-special-part2-rbottom .quwan-special-part2-rb1 {
  display: inline-block;
  width: 133px ;
  height: 132px;
  margin-left: 15px;
}
.ncon_box5 .center .quwan-special-part2 .quwan-special-part2-right .quwan-special-part2-rbottom .quwan-special-part2-rb1 img {
  width: 133px ;
  height: 132px;
}
.ncon_box5 .center .quwan-special-part2 .quwan-special-part2-right .quwan-special-part2-rbottom .quwan-special-part2-rb2 {
  display: inline-block;
  width: 133px ;
  height: 132px;
  margin-left: 28px;
}
.ncon_box5 .center .quwan-special-part2 .quwan-special-part2-right .quwan-special-part2-rbottom .quwan-special-part2-rb2 img {
  width: 133px ;
  height: 132px;
}
.ncon_box5 .center .quwan-special-part3 {
  width: 100%;
  height: 390px;
  padding-bottom: 140px;
}
.ncon_box5 .center .quwan-special-part3 .quwan-special-part3-left {
  float: left;
  width: 382px;
  height: 390px;
  position: relative;
  background: #ff9600;
}
.ncon_box5 .center .quwan-special-part3 .quwan-special-part3-left .quwan-special-part3-lwrap {
  position: absolute;
  top: -114px;
  left: 148px;
  width: 276px;
  z-index: 6;
}
.ncon_box5 .center .quwan-special-part3 .quwan-special-part3-left .quwan-special-part3-lwrap img {
  width: 276px;
  height: 267px;
}
.ncon_box5 .center .quwan-special-part3 .quwan-special-part3-left .quwan-special-part3-lwrap .quwan-special-all-left {
  margin-top: 13px;
}
.ncon_box5 .center .quwan-special-part3 .quwan-special-part3-middle {
  float: left;
  width: 266px;
  height: 390px;
  position: relative;
}
.ncon_box5 .center .quwan-special-part3 .quwan-special-part3-middle img {
  width: 266px;
  height: 482px;
  position: absolute;
  top: -45px;
  left: 0;
}
.ncon_box5 .center .quwan-special-part3 .quwan-special-part3-bottom {
  width: 340px;
  height: 390px;
  background: #ff9600;
  position: relative;
  float: left;
}
.ncon_box5 .center .quwan-special-part3 .quwan-special-part3-bottom .quwan-special-part3-btop {
  padding: 12px 0 0 20px;
}
.ncon_box5 .center .quwan-special-part3 .quwan-special-part3-bottom .quwan-special-part3-bbottom {
  position: absolute;
  bottom: -194px;
  left: -16px;
  width: 278px;
  height: 271px;
}
.ncon_box5 .center .quwan-special-all-left {
  padding-top: 3px;
  width: 280px;
}
.ncon_box5 .center .quwan-special-all-left .quwan-special-all-ltitle {
  height: 60px;
  line-height: 60px;
  color: #333333;
  font-size: 36px;
}
.ncon_box5 .center .quwan-special-all-left .quwan-special-all-lline {
  width: 26px;
  height: 2px;
  background: #fff;
  margin-left: 2px;
}
.ncon_box5 .center .quwan-special-all-left .quwan-special-all-lamount {
  height: 42px;
  line-height: 42px;
  font-size: 20px;
  color: #333333;
}
.ncon_box5 .center .quwan-special-all-left .quwan-special-all-lprice {
  margin-top: 25px;
  height: 30px;
  line-height: 30px;
}
.ncon_box5 .center .quwan-special-all-left .quwan-special-all-lprice .quwan-special-all-lpleft {
  color: #333333;
  font-size: 20px;
  display: inline-block;
}
.ncon_box5 .center .quwan-special-all-left .quwan-special-all-lprice .quwan-special-all-lpright {
  color: #fff;
  font-size: 18px;
  display: inline-block;
  margin-left: 20px;
  width: 100px;
  position: relative;
  background: #ff8400;
  cursor: pointer;
}
.ncon_box5 .center .quwan-special-all-left .quwan-special-all-lprice .quwan-special-all-lpright span {
  display: block;
  width: 94px;
  height: 30px;
  padding-left: 6px;
}
.ncon_box5 .center .quwan-special-all-left .quwan-special-all-lprice .quwan-special-all-lpright i {
  display: block;
  position: absolute;
  width: 11px;
  height: 18px;
  top: 7px;
  right: 6px;
  background: url("../images/quwan-special-turnright.png") no-repeat;
}
.ncon_box5 .center .quwan-special-all-left .quwan-special-all-lprice .quwan-special-all-lpright:hover {
  background: #fe7300;
}
/* 特色服务end */
#footers {
  padding: 20px 0;
  background: #ffffff;
}
#footers .center {
  border-top: 1px solid #E5E5E5;
  padding-top: 10px;
  line-height: 18px;
}
#footers .center .copyright {
  padding-bottom: 10px;
}
#footers .center .wj {
  margin: 0 5px;
}
