.quwan-wap-index-top {
  padding: 10px 0 5px 0;
  position: relative;
  width: 100%;
  height: 42px;
}
.quwan-wap-index-top .quwan-wap-index-tlocation {
  margin-left: 10px;
  width: 48px;
  height: 42px;
  position: relative;
  float: left;
}
.quwan-wap-index-top .quwan-wap-index-tlocation i {
  display: block;
  width: 17px;
  height: 22px;
  position: absolute;
  top: 0;
  left: 16px;
  background: url("../images/wap-images/index-search-location.png") no-repeat;
  background-size: 17px 22px;
  -moz-background-size: 17px 22px;
  -webkit-background-size: 17px 22px;
  -o-background-size: 17px 22px;
}
.quwan-wap-index-top .quwan-wap-index-tlocation span {
  height: 20px;
  line-height: 20px;
  white-space: nowrap;
  display: block;
  margin-top: 22px;
  text-align: center;
  color: #ff0000;
}
.quwan-wap-index-top .quwan-wap-index-tsearch {
  width: 230px;
  height: 28px;
  border: 1px solid #ff0000;
  position: absolute;
  top: 13px;
  left: 50%;
  margin-left: -115px;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -o-border-radius: 14px;
  overflow: hidden;
}
.quwan-wap-index-top .quwan-wap-index-tsearch .quwan-wap-index-twrap {
  width: 200px;
  height: 28px;
  position: absolute;
  top: 0;
  left: 10px;
}
.quwan-wap-index-top .quwan-wap-index-tsearch .quwan-wap-index-twrap i {
  display: block;
  width: 11px;
  height: 15px;
  position: absolute;
  top: 7px;
  left: 3px;
  background: url("../images/wap-images/index-search-search.png") no-repeat;
  background-size: 11px 15px;
  -moz-background-size: 11px 15px;
  -webkit-background-size: 11px 15px;
  -o-background-size: 11px 15px;
}
.quwan-wap-index-top .quwan-wap-index-tsearch .quwan-wap-index-twrap input {
  border: none;
  border: 0;
  outline: none;
  width: 184px;
  padding-left: 20px;
  display: block;
  height: 28px;
  line-height: 28px;
  color: #333333;
}
.quwan-wap-index-top .quwan-wap-index-tclass {
  float: right;
  width: 33px;
  height: 42px;
  position: relative;
  margin: 0 16px 0 0;
}
.quwan-wap-index-top .quwan-wap-index-tclass i {
  display: block;
  width: 19px;
  height: 16px;
  position: absolute;
  top: 3px;
  left: 6px;
  background: url("../images/wap-images/index-search-right.png") no-repeat;
  background-size: 19px 16px;
  -moz-background-size: 19px 16px;
  -webkit-background-size: 19px 16px;
  -o-background-size: 19px 16px;
}
.quwan-wap-index-top .quwan-wap-index-tclass span {
  height: 20px;
  line-height: 20px;
  white-space: nowrap;
  display: block;
  margin-top: 22px;
  text-align: center;
  color: #ff0000;
}
@media all and (max-width: 320px) {
  .quwan-wap-index-top .quwan-wap-index-tlocation {
    margin-left: 0;
  }
  .quwan-wap-index-top .quwan-wap-index-tclass {
    margin: 0;
  }
  .quwan-wap-index-top .quwan-wap-index-tsearch {
    margin-left: -115px;
  }
}
.quwan-wap-index-imgs {
  width: 100%;
  height: 150px;
  position: relative;
}
.quwan-wap-index-imgs .hd {
  width: 100%;
  height: 11px;
  position: absolute;
  z-index: 1;
  bottom: 5px;
  text-align: center;
}
.quwan-wap-index-imgs .hd ul {
  display: inline-block;
  height: 5px;
  padding: 3px 5px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 0;
  vertical-align: top;
}
.quwan-wap-index-imgs .hd ul li {
  display: inline-block;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #8C8C8C;
  margin: 0 5px;
  vertical-align: top;
  overflow: hidden;
}
.quwan-wap-index-imgs .hd ul li.on {
  background: #FE6C9C;
}
.quwan-wap-index-imgs .bd {
  height: 150px;
  width: 100%;
}
.quwan-wap-index-imgs .bd ul li a {
  display: block;
}
.quwan-wap-index-imgs .bd ul li a img {
  height: 150px;
  width: 100%;
}
.quwan-wap-index-navs {
  padding: 0 5px 4px 10px;
}
.quwan-wap-index-navs .quwan-wap-index-nul {
  width: 100%;
}
.quwan-wap-index-navs .quwan-wap-index-nul li {
  width: 25%;
  float: left;
  position: relative;
}
.quwan-wap-index-navs .quwan-wap-index-nul li a {
  display: block;
  width: 100%;
  height: 68px;
  position: relative;
}
.quwan-wap-index-navs .quwan-wap-index-nul li a i {
  display: block;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -18px;
}
.quwan-wap-index-navs .quwan-wap-index-nul li a span {
  display: block;
  width: 100%;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  color: #333333;
  text-align: center;
  padding-top: 46px;
}
.quwan-wap-index-navs .quwan-wap-index-nul li a:hover {
  text-decoration: none;
}
.quwan-wap-index-navs .quwan-wap-index-nul .quwan-wap-index-nli1 a i {
  background: url("../images/wap-images/index-style-1.png") no-repeat;
  background-size: 36px 36px;
  -moz-background-size: 36px 36px;
  -webkit-background-size: 36px 36px;
  -o-background-size: 36px 36px;
}
.quwan-wap-index-navs .quwan-wap-index-nul .quwan-wap-index-nli2 a i {
  background: url("../images/wap-images/index-style-2.png") no-repeat;
  background-size: 36px 36px;
  -moz-background-size: 36px 36px;
  -webkit-background-size: 36px 36px;
  -o-background-size: 36px 36px;
}
.quwan-wap-index-navs .quwan-wap-index-nul .quwan-wap-index-nli3 a i {
  background: url("../images/wap-images/index-style-3.png") no-repeat;
  background-size: 36px 36px;
  -moz-background-size: 36px 36px;
  -webkit-background-size: 36px 36px;
  -o-background-size: 36px 36px;
}
.quwan-wap-index-navs .quwan-wap-index-nul .quwan-wap-index-nli4 a i {
  background: url("../images/wap-images/index-style-4.png") no-repeat;
  background-size: 36px 36px;
  -moz-background-size: 36px 36px;
  -webkit-background-size: 36px 36px;
  -o-background-size: 36px 36px;
}
.quwan-wap-index-navs .quwan-wap-index-nul .quwan-wap-index-nli5 a i {
  background: url("../images/wap-images/index-style-5.png") no-repeat;
  background-size: 36px 36px;
  -moz-background-size: 36px 36px;
  -webkit-background-size: 36px 36px;
  -o-background-size: 36px 36px;
}
.quwan-wap-index-navs .quwan-wap-index-nul .quwan-wap-index-nli6 a i {
  background: url("../images/wap-images/index-style-6.png") no-repeat;
  background-size: 36px 36px;
  -moz-background-size: 36px 36px;
  -webkit-background-size: 36px 36px;
  -o-background-size: 36px 36px;
}
.quwan-wap-index-navs .quwan-wap-index-nul .quwan-wap-index-nli7 a i {
  background: url("../images/wap-images/index-style-7.png") no-repeat;
  background-size: 36px 36px;
  -moz-background-size: 36px 36px;
  -webkit-background-size: 36px 36px;
  -o-background-size: 36px 36px;
}
.quwan-wap-index-navs .quwan-wap-index-nul .quwan-wap-index-nli8 a i {
  background: url("../images/wap-images/index-style-8.png") no-repeat;
  background-size: 36px 36px;
  -moz-background-size: 36px 36px;
  -webkit-background-size: 36px 36px;
  -o-background-size: 36px 36px;
}
.quwan-wap-index-bggrey {
  background: #f7f7f7;
  height: 5px;
  width: 100%;
}
.quwan-wap-index-today {
  width: 100%;
}
.quwan-wap-index-today .quwan-wap-index-ttop {
  padding: 0 16px;
  height: 46px;
}
.quwan-wap-index-today .quwan-wap-index-ttop .quwan-wap-index-tt-left {
  float: left;
  width: 33%;
}
.quwan-wap-index-today .quwan-wap-index-ttop .quwan-wap-index-tt-left img {
  width: 100%;
  height: 13px;
  display: block;
  margin-top: 16px;
}
.quwan-wap-index-today .quwan-wap-index-ttop .quwan-wap-index-tt-right {
  float: left;
  width: 33%;
}
.quwan-wap-index-today .quwan-wap-index-ttop .quwan-wap-index-tt-right img {
  width: 100%;
  height: 13px;
  display: block;
  margin-top: 16px;
}
.quwan-wap-index-today .quwan-wap-index-ttop .quwan-wap-index-tt-middle {
  float: left;
  width: 33%;
}
.quwan-wap-index-today .quwan-wap-index-ttop .quwan-wap-index-tt-middle .quwan-wap-index-tt-m1 {
  padding-top: 10px;
  font-size: 16px;
  color: #333;
  text-align: center;
  height: 16px;
}
.quwan-wap-index-today .quwan-wap-index-ttop .quwan-wap-index-tt-middle .quwan-wap-index-tt-m2 {
  font-size: 12px;
  color: #333;
  text-align: center;
  height: 18px;
  line-height: 18px;
}
.quwan-wap-index-today .quwan-wap-index-tbottom {
  width: 100%;
  overflow: hidden;
  padding-bottom: 10px;
}
.quwan-wap-index-today .quwan-wap-index-tbottom .swiper-container {
  width: 100%;
}
.quwan-wap-index-today .quwan-wap-index-tbottom .swiper-container .swiper-slide {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0 2px 0 3px;
}
.quwan-wap-index-today .quwan-wap-index-tbottom .swiper-container .swiper-slide a {
  display: block;
  width: 100%;
}
.quwan-wap-index-today .quwan-wap-index-tbottom .swiper-container .swiper-slide a img {
  display: block;
  width: 100%;
}
.quwan-wap-index-today .quwan-wap-index-tbottom .swiper-container .swiper-slide a .quwan-wap-index-tbtext {
  padding: 0 7px 0 10px ;
  display: block;
  width: 100%;
  height: 40px;
  line-height: 20px;
  overflow: hidden;
  font-size: 12px;
  color: #333;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.quwan-wap-index-today .quwan-wap-index-tbottom .swiper-container .swiper-slide a .quwan-wap-index-tbprice {
  margin: 6px 11px 0;
  display: block;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  color: #fff;
  background: #ff0000;
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -o-border-radius: 11px;
  text-align: center;
  margin-bottom: 10px;
}
.quwan-wap-index-today .quwan-wap-index-tbottom .swiper-container .swiper-slide a:hover {
  text-decoration: none;
}
.quwan-wap-index-districted {
  width: 100%;
}
.quwan-wap-index-districted .quwan-wap-index-dtop {
  padding: 0 16px;
  height: 46px;
}
.quwan-wap-index-districted .quwan-wap-index-dtop .quwan-wap-index-dt-left {
  float: left;
  width: 33%;
}
.quwan-wap-index-districted .quwan-wap-index-dtop .quwan-wap-index-dt-left img {
  width: 100%;
  height: 13px;
  display: block;
  margin-top: 16px;
}
.quwan-wap-index-districted .quwan-wap-index-dtop .quwan-wap-index-dt-right {
  float: left;
  width: 33%;
}
.quwan-wap-index-districted .quwan-wap-index-dtop .quwan-wap-index-dt-right img {
  width: 100%;
  height: 15px;
  display: block;
  margin-top: 15px;
}
.quwan-wap-index-districted .quwan-wap-index-dtop .quwan-wap-index-dt-middle {
  float: left;
  width: 33%;
}
.quwan-wap-index-districted .quwan-wap-index-dtop .quwan-wap-index-dt-middle .quwan-wap-index-dt-m1 {
  padding-top: 10px;
  font-size: 16px;
  color: #333;
  text-align: center;
  height: 16px;
}
.quwan-wap-index-districted .quwan-wap-index-dtop .quwan-wap-index-dt-middle .quwan-wap-index-dt-m2 {
  font-size: 12px;
  color: #333;
  text-align: center;
  height: 18px;
  line-height: 18px;
}
.quwan-wap-index-districted .quwan-wap-index-dbottom {
  width: 100%;
  overflow: hidden;
  padding-bottom: 10px;
}
.quwan-wap-index-districted .quwan-wap-index-dbottom .swiper-container {
  width: 100%;
}
.quwan-wap-index-districted .quwan-wap-index-dbottom .swiper-container .swiper-slide {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0 2px 0 3px;
}
.quwan-wap-index-districted .quwan-wap-index-dbottom .swiper-container .swiper-slide a {
  display: block;
  width: 100%;
}
.quwan-wap-index-districted .quwan-wap-index-dbottom .swiper-container .swiper-slide a img {
  display: block;
  width: 100%;
}
.quwan-wap-index-districted .quwan-wap-index-dbottom .swiper-container .swiper-slide a .quwan-wap-index-dbtext {
  padding: 0 7px 0 10px ;
  display: block;
  width: 100%;
  height: 40px;
  line-height: 20px;
  overflow: hidden;
  font-size: 12px;
  color: #333;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.quwan-wap-index-districted .quwan-wap-index-dbottom .swiper-container .swiper-slide a .quwan-wap-index-dbprice {
  margin: 6px 11px 0;
  display: block;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  color: #fff;
  background: #ff0000;
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -o-border-radius: 11px;
  text-align: center;
  margin-bottom: 10px;
}
.quwan-wap-index-districted .quwan-wap-index-dbottom .swiper-container .swiper-slide a:hover {
  text-decoration: none;
}
.quwan-wap-index-bottom {
  width: 100%;
}
.quwan-wap-index-bottom .quwan-wap-index-btop {
  width: 260px;
  height: 85px;
  position: relative;
  margin: 0 auto;
}
.quwan-wap-index-bottom .quwan-wap-index-btop i {
  display: block;
  width: 260px;
  height: 54px;
  position: absolute;
  top: 13px;
  left: 0px;
  background: url("../images/wap-images/index-rend.png") no-repeat;
  background-size: 260px 54px;
  -moz-background-size: 260px 54px;
  -webkit-background-size: 260px 54px;
  -o-background-size: 260px 54px;
}
.quwan-wap-index-bottom .quwan-wap-index-btop .quwan-wap-index-bttitle {
  height: 18px;
  line-height: 18px;
  padding-top: 48px;
  text-align: center;
  font-size: 14px;
  color: #333;
}
.quwan-wap-index-bottom .quwan-wap-index-bwrap1 {
  display: block;
  height: 121px;
  margin: 0 6px 6px;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}
.quwan-wap-index-bottom .quwan-wap-index-bwrap1 i {
  display: block;
  width: 100%;
  height: 121px;
  background: url("../images/wap-images/index-bottom-1.jpg") no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
}
.quwan-wap-index-bottom .quwan-wap-index-bwrap1 .quwan-wap-index-bwtext {
  display: block;
  position: absolute;
  top: 50px;
  left: 15px;
  width: 200px;
  height: 34px;
  line-height: 34px;
  font-size: 24px;
  color: #333;
}
.quwan-wap-index-bottom .quwan-wap-index-bwrap2 {
  display: block;
  height: 121px;
  margin: 0 6px 6px;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}
.quwan-wap-index-bottom .quwan-wap-index-bwrap2 i {
  display: block;
  width: 100%;
  height: 121px;
  background: url("../images/wap-images/index-bottom-2.jpg") no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
}
.quwan-wap-index-bottom .quwan-wap-index-bwrap2 .quwan-wap-index-bwtext {
  display: block;
  position: absolute;
  top: 50px;
  right: 15px;
  width: 200px;
  height: 34px;
  line-height: 34px;
  font-size: 24px;
  color: #333;
  text-align: right;
}
.quwan-wap-index-bottom .quwan-wap-index-bwrap3 {
  display: block;
  height: 121px;
  margin: 0 6px 6px;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}
.quwan-wap-index-bottom .quwan-wap-index-bwrap3 i {
  display: block;
  width: 100%;
  height: 121px;
  background: url("../images/wap-images/index-bottom-3.jpg") no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
}
.quwan-wap-index-bottom .quwan-wap-index-bwrap3 .quwan-wap-index-bwtext {
  display: block;
  position: absolute;
  top: 50px;
  left: 15px;
  width: 200px;
  height: 34px;
  line-height: 34px;
  font-size: 24px;
  color: #333;
}
.quwan-wap-index-bottom .quwan-wap-index-bwrap4 {
  display: block;
  height: 121px;
  margin: 0 6px 55px;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  text-align: right;
}
.quwan-wap-index-bottom .quwan-wap-index-bwrap4 i {
  display: block;
  width: 100%;
  height: 121px;
  background: url("../images/wap-images/index-bottom-4.jpg") no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
}
.quwan-wap-index-bottom .quwan-wap-index-bwrap4 .quwan-wap-index-bwtext {
  display: block;
  position: absolute;
  top: 50px;
  right: 15px;
  width: 200px;
  height: 34px;
  line-height: 34px;
  font-size: 24px;
  color: #333;
}
.quwan-wap-index-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 49px;
  border-top: 1px solid #999999;
  background: #fafafa;
  z-index: 6;
}
.quwan-wap-index-fixed .quwan-wap-index-findex {
  width: 20%;
  float: left;
  display: block;
  height: 49px;
  position: relative;
}
.quwan-wap-index-fixed .quwan-wap-index-findex i {
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -12px;
  background: url("../images/wap-images/index-fb-logo1.png") no-repeat;
  background-size: 24px 24px;
  -moz-background-size: 24px 24px;
  -webkit-background-size: 24px 24px;
  -o-background-size: 24px 24px;
}
.quwan-wap-index-fixed .quwan-wap-index-findex span {
  display: block;
  width: 100%;
  height: 20px;
  padding-top: 29px;
  line-height: 20px;
  font-size: 12px;
  color: #999;
  text-align: center;
}
.quwan-wap-index-fixed .quwan-wap-index-frend {
  width: 20%;
  float: left;
  display: block;
  height: 49px;
  position: relative;
}
.quwan-wap-index-fixed .quwan-wap-index-frend i {
  display: block;
  width: 28px;
  height: 23px;
  position: absolute;
  top: 6px;
  left: 50%;
  margin-left: -14px;
  background: url("../images/wap-images/index-fb-logo2.png") no-repeat;
  background-size: 28px 23px;
  -moz-background-size: 28px 23px;
  -webkit-background-size: 28px 23px;
  -o-background-size: 28px 23px;
}
.quwan-wap-index-fixed .quwan-wap-index-frend span {
  display: block;
  width: 100%;
  height: 20px;
  padding-top: 29px;
  line-height: 20px;
  font-size: 12px;
  color: #999;
  text-align: center;
}
.quwan-wap-index-fixed .quwan-wap-index-fspecial {
  width: 20%;
  float: left;
  display: block;
  height: 49px;
  position: relative;
}
.quwan-wap-index-fixed .quwan-wap-index-fspecial em {
  display: block;
  width: 58px;
  height: 21px;
  position: absolute;
  top: -21px;
  left: 50%;
  margin-left: -29px;
  background: url("../images/wap-images/index-fb-round.png") no-repeat;
  background-size: 58px 21px;
  -moz-background-size: 58px 21px;
  -webkit-background-size: 58px 21px;
  -o-background-size: 58px 21px;
}
.quwan-wap-index-fixed .quwan-wap-index-fspecial i {
  display: block;
  width: 44px;
  height: 34px;
  position: absolute;
  top: -7px;
  left: 50%;
  margin-left: -22px;
  background: url("../images/wap-images/index-fb-logo3.png") no-repeat;
  background-size: 44px 34px;
  -moz-background-size: 44px 34px;
  -webkit-background-size: 44px 34px;
  -o-background-size: 44px 34px;
}
.quwan-wap-index-fixed .quwan-wap-index-fspecial span {
  display: block;
  width: 100%;
  height: 20px;
  padding-top: 29px;
  line-height: 20px;
  font-size: 12px;
  color: #ff6627;
  text-align: center;
}
.quwan-wap-index-fixed .quwan-wap-index-fbuy {
  width: 20%;
  float: left;
  display: block;
  height: 49px;
  position: relative;
}
.quwan-wap-index-fixed .quwan-wap-index-fbuy i {
  display: block;
  width: 24px;
  height: 21px;
  position: absolute;
  top: 7px;
  left: 50%;
  margin-left: -12px;
  background: url("../images/wap-images/index-fb-logo4.png") no-repeat;
  background-size: 24px 21px;
  -moz-background-size: 24px 21px;
  -webkit-background-size: 24px 21px;
  -o-background-size: 24px 21px;
}
.quwan-wap-index-fixed .quwan-wap-index-fbuy span {
  display: block;
  width: 100%;
  height: 20px;
  padding-top: 29px;
  line-height: 20px;
  font-size: 12px;
  color: #999;
  text-align: center;
}
.quwan-wap-index-fixed .quwan-wap-index-fpersonal {
  width: 20%;
  float: left;
  display: block;
  height: 49px;
  position: relative;
}
.quwan-wap-index-fixed .quwan-wap-index-fpersonal i {
  display: block;
  width: 24px;
  height: 21px;
  position: absolute;
  top: 7px;
  left: 50%;
  margin-left: -12px;
  background: url("../images/wap-images/index-fb-logo5.png") no-repeat;
  background-size: 24px 21px;
  -moz-background-size: 24px 21px;
  -webkit-background-size: 24px 21px;
  -o-background-size: 24px 21px;
}
.quwan-wap-index-fixed .quwan-wap-index-fpersonal span {
  display: block;
  width: 100%;
  height: 20px;
  padding-top: 29px;
  line-height: 20px;
  font-size: 12px;
  color: #999;
  text-align: center;
}
.quwan-wap-index-fixed a:hover {
  text-decoration: none;
}
